// Primary colors
$primary-text-color: #13182C;
$primary-color: #2E66E5;

// Secondary colors
$secondary-text-color: #5C667E;
$border-color: #BDC5D5;

// background colors
$primary-background-color: #F7F8F9;
$secondary-background-color: #232940;

$green-color: #156463;
$red-color: #C94515;
$white-color: #FFFFFF;