@font-face {
    font-family: "Titillium";
    src: url("../../assets/Fonts/TitilliumWeb-SemiBold.ttf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "Titillium";
    src: url("../../assets/Fonts/TitilliumWeb-Regular.ttf") format("truetype");
    font-weight: 400;
}