//Colors
$instock-black: #13182c;
$instock-indigo: #2e66e5;
$slate: #5c667e;
$white: #ffffff;
$cloud: #bdc5d5;
$graphite: #232940;
$light-grey: #f7f8f9;
$green: #158463;
$red: #c94515;

//breakpoints
$desktop-breakpoint: 1280px;
$tablet-breakpoint: 768px;

//padding
$padding-before-headlines: 24px;
$padding-after-headlines: 24px;
$padding-between-components: 16px;
$padding-between-subcomponents: 4px;
