@use "../../styles//partials/variables" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;

.warehouselist {
  border-radius: 5px;
  background-color: $white;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 18%;
  left: 0px;
  width: 90%;
  z-index: 1;
  @include mobile-margin-left-right;

  @include tablet {
    @include tablet-margin-left-right;
    left: 6px;
    top: 15%;
    width: 90%;
  }

  @include desktop {
    @include desktop-margin-left-right;
    left: -25px;
    top: 15%;
  }

  &__nav {
    border-bottom: 1px solid $cloud;
    padding-bottom: $padding-between-components;
    padding-left: 16px;
    padding-right: 16px;
    @include tablet {
      border-bottom: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 24px;
      padding-bottom: 24px;
    }
    @include desktop {
      border-bottom: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 36px;
      padding-left: 36px;
      padding-right: 36px;
      padding-bottom: 36px;
    }
  }

  &__title {
    color: $instock-black;
    font-weight: 600;
    padding-top: $padding-before-headlines;
    padding-bottom: $padding-between-components;
    @include mobile-page-header-H1;
    @include tablet {
      padding-top: 0px;
      padding-bottom: 0px;
    }
    @include desktop {
      padding-top: 0px;
      padding-bottom: 0px;
    }
  }

  &__search {
    position: relative;
    padding-bottom: $padding-between-components;
    @include tablet {
      padding-bottom: 0px;
      padding-left: 10rem;
    }
    @include desktop {
      padding-bottom: 0px;
      padding-left: 30rem;
    }
  }

  #searchinput {
    border-radius: 20px;
    border: 1px solid $cloud;
    height: 38px;
    width: 100%;
  }

  &__icon {
    position: absolute;
    right: 15px;
    top: 5.5px;
    width: 24px;
    height: 24px;
  }

  &__button {
    background-color: $instock-indigo;
    color: $white;
    padding: 10px 20px;
    border: none;
    border-radius: 1.5rem;
    width: 100%;
    height: 38px;
    cursor: pointer;
    @include mobile-labels-link-and-buttons-H3;
  }

  &__button:hover {
    background-color: $graphite;
  }

  &__container {
    border-bottom: 1px solid $cloud;
    padding-bottom: $padding-between-components;
    padding-top: $padding-between-components;
    position: relative;

    @include tablet {
      padding-top: 0px;
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding-left: 16px;
      padding-right: 16px;
      padding-top: $padding-before-headlines;
    }

    @include desktop {
      padding-top: 0px;
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding-left: 36px;
      padding-right: 36px;
      padding-top: $padding-before-headlines;
    }
  }

  &__container:hover {
    @include desktop {
      background-color: lighten($instock-indigo, 43%);
    }
  }

  &__main-group {
    display: flex;
    justify-content: space-between;
    @include tablet {
      width: 100%;
    }
    @include desktop {
      width: 100%;
    }
  }

  &__division {
    display: flex;
    flex-direction: column;
    width: 55%;
    @include tablet {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    @include desktop {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__group {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: $padding-between-components;
    @include tablet {
      padding-left: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
      width: 100%;
    }
    @include desktop {
      padding-left: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
      width: 100%;
    }
  }

  &__subtitle {
    color: $slate;
    @include mobile-table-header-H4;
    font-weight: 600;
    padding-bottom: $padding-between-subcomponents;
  }

  &__header--none {
    display: none;
    @include tablet {
      display: block;
      width: 30%;
      display: flex;
      align-items: center;
      @include tabletanddesktop-body-small-P3;
    }
    @include desktop {
      display: block;
      width: 30%;
      display: flex;
      align-items: center;
      @include tabletanddesktop-body-small-P3;
    }
  }

  &__subtitle--none {
    display: none;
    @include tablet {
      display: block;
      font-weight: 600;
      color: $slate;
      @include tabletanddesktop-body-small-P3;
    }
    @include desktop {
      display: block;
      font-weight: 600;
      color: $slate;
      @include tabletanddesktop-body-small-P3;
    }
  }

  &__sort {
    display: none;

    @include tablet {
      display: block;
      width: 15px;
      height: 15px;
    }

    @include desktop {
      display: block;
      width: 15px;
      height: 15px;
    }
  }

  &__sort:hover {
    filter: brightness(0) saturate(100%) invert(27%) sepia(85%) saturate(3000%)
      hue-rotate(221deg) brightness(100%) contrast(100%);
  }

  &__name {
    display: flex;
    font-weight: 600;
    color: $instock-indigo;
    @include tablet {
      width: 70%;
    }
    @include desktop {
      width: 70%;
    }
  }

  &__body {
    @include mobile-body-medium-P2;
    @include tablet {
      width: 70%;
    }
  }

  &__body--hover {
    font-weight: 600;
    color: $instock-indigo;
  }

  &__header {
    display: flex;
    @include tablet {
      display: none;
    }
    @include desktop {
      display: none;
    }
  }

  &__action {
    padding-left: 16px;
    padding-right: 16px;
    @include tablet {
      padding-left: 0px;
      padding-right: 0px;
    }
    @include desktop {
      padding-left: 0px;
      padding-right: 0px;
    }
  }

  &__images {
    display: flex;
    justify-content: space-between;
    @include tablet {
      gap: 5px;
    }
    @include desktop {
      gap: 5px;
    }
  }

  &__img {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }

  &__subtitle--display {
    color: $slate;
    @include mobile-table-header-H4;
    font-weight: 600;
    display: none;

    @include tablet {
      display: none;
    }
    @include desktop {
      display: none;
    }
  }

  &__content {
    display: none;
    @include tablet {
      display: block;
      width: 100%;
      display: flex;
      align-items: center;
      height: 5vh;
      background-color: $light-grey;
      padding-left: 16px;
      padding-right: 16px;
    }

    @include desktop {
      display: block;
      width: 100%;
      display: flex;
      align-items: center;
      height: 5vh;
      background-color: $light-grey;
      padding-left: 36px;
      padding-right: 36px;
    }

    &__arrow {
      position: absolute;
      right: 0; /* Keep the arrow fixed to the right */
    }
  }
}

.warehouselist__input::placeholder {
  color: $slate;
  left: 15px;
  position: absolute;
  @include mobile-labels-link-and-buttons-H3;
}

.warehouselist__container:last-child {
  border-bottom: none;
}

.warehouselist__name:hover {
  text-decoration: underline;
  display: flex;
  font-weight: 600;
  color: $instock-indigo;
  // @include mobile-body-medium-P2;
  @include tablet {
    width: 70%;
  }
}
